# Write `pandas.DataFrame` into minio

1) Let's create a sample dataframe

In [1]:
import numpy
import pandas

df = pandas.DataFrame({
    "a": numpy.random.random(size=10000),
    "b": numpy.random.random(size=10000),
    "c": numpy.random.random(size=10000) > 0.5,
    "d": numpy.random.randint(128, size=10000)
})

In [2]:
df.head()

          a         b      c   d
0  0.904144  0.867417   True  16
1  0.673064  0.738554   True  15
2  0.091597  0.272762   True  91
3  0.090126  0.381527   True  64
4  0.492211  0.016393  False  19

In [3]:
df.dtypes

a    float64
b    float64
c       bool
d      int64
dtype: object

2) Import `PandasBucket` and `minio.Minio` classes

In [4]:
from minio import Minio
from pandas_bucket import PandasBucket

3) Create the `minio.Minio` instance (the client)

In [5]:
client = Minio(endpoint="134.209.85.215:9001", access_key="access_key", secret_key="secret_key", secure=False)

4) Crate the `PandasBucket` instance

In [6]:
datasets = PandasBucket(client=client, name="datasets")

3) Store dataframe as **csv file**

In [7]:
datasets.put_csv(df, "demo.csv")

'1be55c6bf76cb006101aba5444e85e59-1'

4) Store dataframe as **feather file**

In [8]:
datasets.put_feather(df, "demo.feather")

'daba8b9403094b8d08f61be561ce113c-1'

5) Store dataframe as **json file**

In [9]:
datasets.put_json(df, "demo.json")

'a61cd0c7848c8dd1fc0ac6968f0aa789-1'

6) Store dataframe as **parquet** file

In [10]:
datasets.put_parquet(df, "demo.parquet")

'd7f227279781a7421f8a77c9c118e809-1'